torch
torchvision
numpy
pytorch-lightning
matplotlib
scipy
ipykernel
torchinfo
scikit-image
transformers
hydra-core
torchmetrics
diffusers
torchmetrics[image]
omegaconf
wandb
lightning
tensorboard
pandas
pyiqa
tiatoolbox
torchaudio
visdom
gputil
packaging
kornia
tqdm
termcolor
yacs
scikit-learn
timm
h5py
pillow
dominate
lpips
pytorch_fid
piqa
opencv-python
ema-pytorch
albumentations
pytorch_msssim
monai